body {
  background: rgb(48, 24, 87);
  background-repeat: no-repeat;
  /* font-family: "Montserrat", sans-serif;
  font-size: 20px; */
}

.App-title {
  text-align: center;
  color: rgb(255, 255, 255);
  /* font-size: 40px; */
}

.App-text {
  text-align: left;
  color: rgb(255, 255, 255);
  /* font-size: 10px;
  padding-left: 15px;
  padding-top: 15px; */
}
.card {
  width: 18rem;
}

.table {
  color: white;
  font-weight: 700;
}
